:root {
  --primary-color: #055a05;
  --secondary-color: #f4a261;
  --accent1-color: #264653;
  --accent2-color: #e9c46a;
  --heading-font: Georgia, serif;
  --body-font: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  background-color: #264653;
  color: white;
}


.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: #f4a261;
}

.hero article img {
  float: right;
  width: 120px;
  margin-left: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.socialmedia a {
  text-decoration: none;
}