* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 5px;
  text-decoration: none;
}

h1 {
  color: darkblue;
  margin: 20px;
}

h2 {
  margin-bottom: 10px; 
}


main {
  max-width: 800px;
  padding: 10px;
  margin: 0px;
}

aside {
  width: 300px;
  margin: 20px;
  padding: 15px;
  background-color: #c8ad7f; 
  text-align: center;
}


img {
  width: 200px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

main img {
  float: right;
  width: 120px; 
  margin-left: 15px;
}

aside img {
  width: 100%;
  margin-bottom: 10px;
}


.box {
  background-color: #c8ad7f;
  padding: 10px;
  margin-top: 10px;
}

footer {
  clear: both;
  margin-top: 20px;
  border-top: 1px solid black;
  text-align: center;
  padding: 10px;
}